{% extends 'main/base.html' %}

{% block content %}

<div class="about-container">
    <h1>About me</h1>
    <p>
    I am a full-stack developer with experience in various fields, including mobile applications, websites, and software development. 
    While I enjoy working across the entire stack, I am especially passionate about backend development — designing efficient architectures, building APIs, and solving complex technical challenges.
    </p>
    <p>
    I always strive to create clean, reliable, and scalable solutions. I enjoy learning new technologies, exploring different domains, and pushing my skills further to deliver high-quality products.
    </p>
    <p>Now you may learn about my work and how to reach me:</p>
    <div class="about-buttons">
        <div class="about-btn-wrap">
            <span class="arrow">↓</span>
            <a href="/projects/" class="about-btn">My Projects</a>
        </div>
        <div class="about-btn-wrap">
            <span class="arrow">↓</span>
            <a href="/skills/" class="about-btn">My Skills</a>
        </div>
        <div class="about-btn-wrap">
            <span class="arrow">↓</span>
            <a href="/contact/" class="about-btn">Contact Me Directly</a>
        </div>
    </div>

{% endblock %}