
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} mysite {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/about.css' %}">
    <link rel="stylesheet" href="{% static 'main/projects.css' %}">
</head>
<body>
    {% include 'main/header.html' %}
    {% block content %}{% endblock %}
    <script src="{% static 'main/script.js' %}"></script>
</body>
</html>