{% extends 'main/base.html' %}

{% block content %}
<div class="projects-container">
    <h1 class="projects-title">Here’s some of my projects and info about them</h1>
    
    <div class="project-card">
        <div class="project-badge">Commercial</div>
        <p class="project-category">Web App</p>
        <img src="" alt="Project image">
        <h2 class="project-title">My Cool Project</h2>
        <a href="#" class="learn-more-btn">Learn More</a>
    </div>

    <div class="project-card">
        <div class="project-badge">Pet Project</div>
        <p class="project-category">Mobile App</p>
        <img src="" alt="Project image">
        <h2 class="project-title">Another Project</h2>
        <a href="#" class="learn-more-btn">Learn More</a>
    </div>


</div>
{% endblock %}
